<%= form_for(@newscatalog) do |f| %>
  <% if @newscatalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newscatalog.errors.count, "error") %> prohibited this newscatalog from being saved:</h2>

      <ul>
      <% @newscatalog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parentcat_id %><br>
    <%= f.number_field :parentcat_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :page_description %><br>
    <%= f.text_area :page_description %>
  </div>
  <div class="field">
    <%= f.label :page_keyword %><br>
    <%= f.text_area :page_keyword %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
