<h1>Listing newscatalogs</h1>

<table>
  <thead>
    <tr>
      <th>Parentcat</th>
      <th>Name</th>
      <th>Description</th>
      <th>Content</th>
      <th>Position</th>
      <th>Page description</th>
      <th>Page keyword</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newscatalogs.each do |newscatalog| %>
      <tr>
        <td><%= newscatalog.parentcat_id %></td>
        <td><%= newscatalog.name %></td>
        <td><%= newscatalog.description %></td>
        <td><%= newscatalog.content %></td>
        <td><%= newscatalog.position %></td>
        <td><%= newscatalog.page_description %></td>
        <td><%= newscatalog.page_keyword %></td>
        <td><%= link_to 'Show', newscatalog %></td>
        <td><%= link_to 'Edit', edit_newscatalog_path(newscatalog) %></td>
        <td><%= link_to 'Destroy', newscatalog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newscatalog', new_newscatalog_path %>
