<h1>List Product Category</h1>
<%= link_to 'New Product Category', new_admin_productcat_path %>
<br><br>
<hr>
<table class="admin-list">
	<thead>
	<tr>
		<th width="3%">No.</th>
		<th>Name category</th>
		<th>Url</th>
		<th>Images</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<% count = 0 %>
    <% @productcats.each do |productcat| %>
    	<% if productcat.parentcat_id == 0 %>
    	<% count = count +1 %>
		    <tr>
		    	<td><%= count %></td>
		    	<td><%= link_to productcat.name, admin_path(productcat) %></td>
		    	<td><%= productcat.url %></td>
		    	<td><img src="<%= productcat.url %>" width="50"></td>
		    	<td>
		    		<%= link_to 'Show', productcat %>
		    		<%= link_to 'Edit', edit_admin_productcat_path(productcat) %>
		    		<%= link_to 'Delete', productcat, method: :destroy, data: { confirm: 'Are you sure?' } %>
		    	</td>
		    </tr>
		<% end %>
	<% end %>
	</tbody>
</table>