<div class="main-title-col-right">
	<h2><%= @productcats.name %></h2>
</div>
<div class="main-product product-new fl">
	<% if @products.count == 0 %>
		<p class="no-item">No Item found in category</p>
	<% else %>
	<%
		columnCount = 5
		i = 0
		@products.each do |products|
	%>
	<% if i % columnCount == 0 %>
		<ul>
		<% end %>
		<% i = i + 1 %>
			<li>
				<div class="img-product">
					<a title="<%= products.name %>" href="#"><%= image_tag show_url_images(products.id), :size => "120x120" %></a>
				</div>
				<a href="#" class="name-product" title="<%= products.name %>">
					<%= products.name %>
				</a>
				<div class="price-product">
					$<%= products.price %>
				</div>
			</li>
		<% if i % columnCount == 0 %>
		</ul>
	<% end %>
	<% end %>
	<% end %>
</div>